In [12]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [13]:
def build(train):
    loanDB = pd.read_csv('data/loanUnitedTrain.csv') if train else pd.read_csv('data/loanUnitedTest.csv')
    drops = [
     "birthday",
     "account_creation",
    # "account_frequency", 
     "card issue"
    ]

    drops_subsstrs = [
     "date", 
     "code" 
     #"region",
     #"no. of municipalities with inhabitants", 
     #"no. of cities", 
     #"client_district"
    ]

    drops += [c for c in loanDB.columns if True in [s in c for s in drops_subsstrs]]
    final = loanDB.drop(columns=drops)
    #final["card_type"] = final["card_type"].map({"no card": 0, "junior": 1, "classic":2, "gold":3})
    final.to_csv("data/final_loan_"+("train" if train else "test")+".csv", index=False)
    return final

In [14]:
build(train=True)

,loan_id,loan_value,loan_duration,payments,loan_success,account_frequency,account_district region,account_district no. of inhabitants,account_district no. of municipalities with inhabitants < 499,account_district no. of municipalities with inhabitants 500-1999,...,card_type,no. of transactions,balance,nr_movements,min_trans_amount,max_trans_amount,avg_trans_amount,min_balance,max_balance,avg_balance
0,5314,96396,12,8033,-1,weekly issuance,west Bohemia,94812,15,13,...,no card,3300.0,20100.0,4.0,1100.0,9900.0,5025.000000,1100.0,20100.0,12250.000000
1,5316,165960,36,4610,1,monthly issuance,east Bohemia,112709,48,20,...,no card,3419.0,52208.9,37.0,2.9,54300.0,11015.635135,700.0,120512.8,52083.859459
2,6863,127080,60,2118,1,monthly issuance,east Bohemia,77917,85,19,...,no card,12000.0,20272.8,24.0,48.6,19065.0,5417.458333,800.0,49590.4,30060.954167
3,5325,105804,36,2939,1,monthly issuance,central Bohemia,107870,84,29,...,no card,14.6,34292.7,25.0,14.6,26448.0,8253.080000,1000.0,65898.5,41297.480000
4,7240,274740,60,4579,1,weekly issuance,Prague,1204953,0,0,...,no card,182.8,41142.9,27.0,30.0,63366.0,18945.966667,600.0,122893.1,57188.211111
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
323,6818,155616,48,3242,1,monthly issuance,north Moravia,226122,32,50,...,no card,14600.0,60694.1,172.0,14.6,36960.0,4895.974419,200.0,75294.1,44197.509884
324,5625,222180,60,3703,-1,monthly issuance,west Bohemia,45714,52,10,...,no card,6900.0,59578.8,59.0,14.6,52600.0,11725.494915,800.0,130659.1,55230.444068
325,6805,45024,48,938,1,monthly issuance,north Moravia,285387,0,2,...,no card,17800.0,38384.3,39.0,14.6,31636.5,7779.815385,800.0,63659.3,41994.907692
326,7233,115812,36,3217,1,monthly issuance,south Bohemia,93931,74,21,...,no card,3100.0,41878.1,124.0,14.6,50800.0,13280.084677,1100.0,119527.2,56646.516129
327,7308,129408,24,5392,1,monthly issuance,north Moravia,106054,38,25,...,no card,4780.0,24199.5,107.0,14.6,24212.0,4550.302804,1000.0,56055.6,30869.781308

In [15]:
build(train=False)

,loan_id,loan_value,loan_duration,payments,loan_success,account_frequency,account_district region,account_district no. of inhabitants,account_district no. of municipalities with inhabitants < 499,account_district no. of municipalities with inhabitants 500-1999,...,card_type,no. of transactions,balance,nr_movements,min_trans_amount,max_trans_amount,avg_trans_amount,min_balance,max_balance,avg_balance
0,5895,93960,60,1566,NaN,monthly issuance,east Bohemia,77917,85,19,...,no card,19700.0,49548.5,89.0,14.6,36637.5,8051.737079,800.0,88246.7,54520.202247
1,7122,260640,36,7240,NaN,monthly issuance,west Bohemia,58400,65,16,...,no card,12284.0,11565.4,78.0,4.6,41871.0,6935.733333,-718.6,88731.8,31518.182051
2,6173,232560,48,4845,NaN,issuance after transaction,south Bohemia,177686,69,27,...,no card,2692.0,45754.0,176.0,45.7,43605.0,7217.385795,200.0,79286.6,40175.612500
3,6142,221880,60,3698,NaN,monthly issuance,central Bohemia,81344,61,23,...,no card,323.0,41785.4,71.0,2.0,33280.0,6430.809859,1000.0,74216.8,44440.912676
4,5358,38520,12,3210,NaN,monthly issuance,east Bohemia,95907,87,25,...,no card,2520.0,13994.3,114.0,14.6,8800.0,2373.266667,900.0,31302.0,20231.313158
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
349,4989,352704,48,7348,NaN,monthly issuance,south Bohemia,103347,87,16,...,classic,12100.0,35875.3,56.0,14.6,49101.0,8582.460714,800.0,74693.6,30797.487500
350,5221,52512,12,4376,NaN,monthly issuance,south Moravia,157042,49,70,...,no card,14.6,41035.4,87.0,10.9,49972.0,12491.751724,1000.0,120419.7,59684.298851
351,6402,139488,24,5812,NaN,weekly issuance,central Bohemia,75232,55,26,...,no card,25500.0,47956.3,104.0,30.0,52305.0,13016.101923,1100.0,95976.0,46755.305769
352,5346,55632,24,2318,NaN,monthly issuance,north Moravia,285387,0,2,...,no card,14.6,38449.2,114.0,14.6,23522.0,6040.260526,500.0,52896.1,29645.320175
353,6748,240900,60,4015,NaN,monthly issuance,south Moravia,110643,49,41,...,no card,8919.0,19813.8,120.0,14.6,25394.0,5047.062500,700.0,59731.2,26268.190000